.piska{
    /* width: 150px;
    height: 250px;
    border: 1px black solider; */
    font-size: 20px;
    color:palevioletred;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    height: 30px;
    widows: 15px;
    color: palevioletred;
    /* background-color: rgb(187, 228, 241); */
    margin-top: 5px;
    border: none;
}
.sub{
    margin-left: 10px;
    margin-top: 5px;;
    font-size: 20px;
    color:palevioletred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
}